<h5>List of Cars</h5>

<table>
  <tr>
    <td> Manufacturer </td>
    <td> Color </td>
    <td> Year </td>
    <td> Mileage </td>
  </tr>
    <% @cars.each do |car| %>

  <tr>
    <td> <%= car.manufacturer.name %> </td>
    <td> <%= car.color %> </td>
    <td> <%= car.year %> </td>
    <td> <%= car.mileage %> </td>
  </tr>
    <% end %>
</table>

<a href = "/cars/new">Add new car</a>
